/* Enter your custom styles here */
.pt2{
	padding-top:20px;
}
.pt4{
	padding-top:40px;
}
.mt2{
	margin-top:20px;
}
.thick {
  font-size: 14px !important;	
  font-weight: bold !important;
  padding-left:10px;
}
.big{
	font-size:14px;
}

.test{
	background-color:green;
	margin:0px;
	padding:0px;
}
.right{
	margin-right:52px;
}
